* {
  all: unset;
  font-family: "Hack Nerd Font";
  font-size: 16px;
}

$background: #1a0b25;
$foreground: #A9B1D6;

$black: #453754;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

button {
  opacity: 1;
  transition: opacity 500ms;

  &:hover {
    opacity: .45;
  }
}

tooltip {
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  padding: 2em;
  background-color: $background;
  color: $foreground;
}

.eww_bar {
  background-color: $background;
  padding: .5em;
}

// Control Panel
.container {
  background-color: $black;
  font-size: 1em;
  font-weight: 600;
  padding: .5em .75em;
  margin: .2em;
  border-radius: 5px;
}

.control {
  box {
    margin: 0 .5em;
  }

  .battery {
    color: $cyan;

    .battery-percent {
      font-weight: 600;
      margin-left: .33em;
    }
  }

  .wifi-icon {
    color: $magenta;
  }

  .brightness-icon {
    color: $yellow;
  }

  .volume-icon {
    color: $blue;
  }
}

scale trough {
  all: unset;
  border-radius: 5px;
  min-height: .5em;
  min-width: 5em;
  margin: .1em .25em;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

.date {
  font-weight: 600;
}

.workspaces {
  .workspace {
    min-width: 1.35em;
    margin: 0 .25em;
    background-color: $gray;
    border-radius: 5px;

    &.active {
      border: .1em solid $green;
    }
  }
}

.weather {
  font-weight: 600;

  label {
    margin: 0 .5em;

    &:first-child {
      margin-left: 0.25em;
    }

    &:last-child {
      margin-right: 0.25em
    }
  }

  .weather-icon {
    font-size: 1.1em;
    color: $blue;
  }
}

.powermenu {
  button {
    font-size: 1em;
    font-weight: bold;
    margin: 0 .5em;
  }

  .button-off {
    color: $red;
  }

  .button-bspres {
    color: $green;
  }

  .button-reb {
    color: $yellow
  }

  .button-quit {
    color: $magenta;
  }

  .button-lock {
    color: $blue;
  }
}
