* {
  all: unset;
}

$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

tooltip {
  font-family: "Satoshi";
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  background-color: $background;
  color: $foreground;
}

.eww_bar{
  background-color: $background;
  padding: .2em;
  font-family: "Satoshi";
}

// Control Panel
.control {
  min-width: 1.1em;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.6em;
  padding: .3em;
  margin: .3em;
  background-color: $black;
  border-radius: 5px;
}

.bat{
  color: $green;
}

.wifi-icon{
  color: $magenta;
  margin-right: 8px;
}

.brightness-icon{
  color: $yellow;
  margin-right: 8px;
}

.volume-icon{
  color: $blue;
  margin-right: 6px;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 90px;
  min-width: 10px;
  margin: .3rem 0;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

// Clock
.time {
  font-family: "Satoshi";
  font-weight: bold;
  font-size: 1.5em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: .3em;
  margin: .3em;
  
  .time-ap {
    font-size: 1rem;
  }
}

.weather {
  font-family: "Satoshi";
  font-weight: 700;
  font-size: 0.95em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: .3em;
  margin: .3em;
 
  .weather-icon {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    color: $blue;
  }
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: "Satoshi";
  font-weight: bold;

  .cal-inner-box {
    padding: 1rem 1rem .2rem;

    .cal {
      &.highlight {
          padding: 10rem;
      }

      padding: .8rem .25rem 0rem;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $background;
}

// Powermenu
.powermenu {
  font-family: "JetBrainsMono Nerd Fonts";
  font-size: 1.8em;
  font-weight: bold;
}

.button-bspres,
.button-reb,
.button-lock,
.button-quit,
.button-off {
  padding: .5rem .2rem .3rem .2rem;
}

.button-off {
  margin-bottom: .5rem;
  color: $red;
}

.button-bspres {
  color: $green;
}

.button-reb {
  color: $yellow
}

.button-quit {
  color: $magenta;
}

.button-lock {
  color: $blue;
}

button {
  opacity: 1;
  transition: opacity 500ms;

  &:hover {
    opacity: .45;
  }
}
