* {
  all: unset;
  font-size: 16px;
}

$background: #1a0b25;
$foreground: #A9B1D6;

$black: #35164b;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

tooltip {
  font-family: "Satoshi";
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  padding: .25em .5em;
  background-color: $background;
  color: $foreground;
}

.eww_bar{
  background-color: $background;
  padding: 0 .5em;
  font-family: "Satoshi";
}

// Control Panel
.control {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1em;
  padding: .15em .5em;
  margin: .25em;
  background-color: $black;
  border-radius: 5px;
}

.battery {
  color: $cyan;
  margin: 0 .5em;
}

.wifi-icon {
  color: $magenta;
  margin: 0 .5em;
}

.brightness-icon {
  color: $yellow;
  margin: 0 .5em;
}

.volume-icon {
  color: $blue;
  margin: 0 .5em;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: .5em;
  min-width: 5em;
  margin: .1em .25em;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

.date {
  font-family: "Satoshi";
  font-weight: 600;
  font-size: 1em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: .15em .5em;
  margin: .25em;
}

.weather {
  font-family: "Satoshi";
  font-weight: 600;
  font-size: 1em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: .15em .5em;
  margin: .25em;
 
  label {
    margin: 0 .5em;

    &:first-child {
      margin-left: 0.25em;
    }

    &:last-child {
      margin-right: 0.25em
    }
  }

  .weather-icon {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 1.1em;
    color: $blue;
  }
}

.powermenu {
  font-family: "JetBrainsMono Nerd Fonts";
  background-color: $black;
  border-radius: 5px;
  padding: .15em .5em;
  margin: .25em;

  button {
    font-size: 1em;
    font-weight: bold;
    margin: 0 .5em;
  }

  .button-off {
    color: $red;
  }

  .button-bspres {
    color: $green;
  }

  .button-reb {
    color: $yellow
  }

  .button-quit {
    color: $magenta;
  }

  .button-lock {
    color: $blue;
  }
}

button {
  opacity: 1;
  transition: opacity 500ms;

  &:hover {
    opacity: .45;
  }
}
