* {
  font-family: Hack Nerd Font, Arial, sans-serif;
  min-height: 0;
}

window#waybar {
  background: #1a0b25;
  color: #a1b9d6;
  font-size: 15px;
}

tooltip {
  background: #1a0b25;
}
tooltip label {
  color: #a1b9d6;
  padding: 0.5em;
}

#clock,
#backlight,
#bluetooth,
#network,
#battery {
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  background-color: #453754;
  color: #a1b9d6;
}

#backlight,
#bluetooth,
#network {
  margin-right: 0.5em;
}

#battery.charging, #battery.warning {
  animation: 4s linear 0s infinite alternate blink;
  color: #1a0b25;
}
#battery.charging {
  background-color: #73DACA;
}
#battery.warning:not(.charging) {
  background: #ff0000;
}

@keyframes blink {
  to {
    background-color: #453754;
  }
}
