
$background: #1a0b25;
$foreground: #a1b9d6;
$warning: #ff0000;

$black: #453754;
$grey: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

* {
  font-family: Hack Nerd Font, Arial, sans-serif;
  min-height: 0;
}

window#waybar {
  background: $background;
  color: $foreground;
  font-size: 15px;
}

tooltip {
  background: $background;

  label {
    color: $foreground;
    padding: .5em;
  }
}

#custom-weather,
#clock,
#backlight,
#bluetooth,
#network,
#battery {
  padding: .5em 1.25em;
  border-radius: .5em;
  margin: .5em 0;
  background-color: $black;
  color: $foreground;
}

#clock,
#backlight,
#bluetooth,
#network {
  margin-right: .5em;
}

#battery {
  &.charging,
  &.warning {
    animation: 4s linear 0s infinite alternate blink;
    color: $background;
  }

  &.charging {
    background-color: $green;
  }

  &.warning:not(.charging) {
    background: $warning;
  }
}

@keyframes blink {
  to {
    background-color: $black;
  }
}
