#waybar {
  font-family: Satoshi Medium, Hack Nerd Font;
  background: transparent;
  color: #ededed;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

tooltip {
  font-family: Satoshi Medium;
  background: #000000;
  border: 2px solid #ededed;
}
tooltip label {
  font-size: 0.95em;
  font-weight: 700;
  color: #ededed;
  padding: 1em;
}

#custom-spotify,
#custom-weather,
#pulseaudio,
#clock,
#backlight,
#bluetooth,
#network,
#battery {
  font-family: Satoshi Medium;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  background-color: #000000;
  color: #ededed;
  border: 1px solid #ededed;
}

#clock {
  margin-left: 8px;
}

#battery {
  margin-right: 8px;
}

#battery.charging, #battery.warning {
  color: #000000;
}
#battery.charging {
  background: #73daca;
}
#battery.warning:not(.charging) {
  background: #f7768e;
}
