
$background: #453754;
$foreground: #a1b9d6;

$black: #1a0b25;
$grey: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

$warning: $red;
$charging: $green;

#waybar {
  font-family: Hack Nerd Font;
  background: $background;
  color: $foreground;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

tooltip {
  background: $black;
  border: 2px solid rgba($magenta, .7);

  label {
    font-size: 1.1em;
    font-weight: 700;
    color: $foreground;
    padding: .75em;
  }
}

#custom-spotify,
#custom-weather,
#pulseaudio,
#clock,
#backlight,
#bluetooth,
#network,
#battery {
  padding: .5em 1.25em;
  border-radius: .5em;
  margin: .5em 0;
  background-color: $black;
  color: $foreground;
}

#clock {
  margin-left: 8px;
}

#battery {
  margin-right: 8px;
}

#battery {
  &.charging,
  &.warning {
    color: $black;
  }

  &.charging {
    background: $charging;
  }

  &.warning:not(.charging) {
    background: $warning;
  }
}
