$background: transparent;
$foreground: #ededed;

$black: #000000;
$grey: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;

$warning: $red;
$charging: $green;

#waybar {
  font-family: Satoshi Medium, Hack Nerd Font;
  background: $background;
  color: $foreground;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

tooltip {
  font-family: Satoshi Medium;
  background: $black;
  border: 2px solid $foreground;

  label {
    font-size: 0.95em;
    font-weight: 700;
    color: $foreground;
    padding: 1em;
  }
}

#custom-spotify,
#custom-weather,
#pulseaudio,
#clock,
#backlight,
#bluetooth,
#network,
#battery {
  font-family: Satoshi Medium;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  background-color: $black;
  color: $foreground;
  border: 1px solid $foreground;
}

#clock {
  margin-left: 8px;
}

#battery {
  margin-right: 8px;
}

#battery {
  &.charging,
  &.warning {
    color: $black;
  }

  &.charging {
    background: $charging;
  }

  &.warning:not(.charging) {
    background: $warning;
  }
}
