[SddmGreeterTheme]
Name=Chili Joe
Description=custom theme based on chili
Author=Joe D'Alessandro
Copyright=(c) 2023, Joe D'Alessandro
Email=joe@thejoeshow.net
License=GPLv3
Type=sddm-theme
Version=0.1
Website=https://thejoeshow.net
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=chili-joe
Theme-API=2.0
