[SddmGreeterTheme]
Name=archj
Description=An SDDM greeter for my custom setup.
Screenshot=screenshot.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=archj
Theme-API=2.0
